{% extends "base.html" %}

{% block content %}
	<h1>Hi, {{ user.first_name }}!</h1>
	<p><b>Profile Networth: </b>USD {{ user.networth }}</p>
	<div>
		<a href="{{ url_for('main.add_account') }}">Add Account</a>
		<a href="{{ url_for('main.delete_user') }}">Delete Profile</a>
	</div><br>
	{% if accounts != [] %}
		<style>
			table#accounts_table table, th, td {
		  		border: 1px solid black;
		  		border-collapse: collapse;
			}
			table, th, td {
		  		border: 0.25px solid black;
		  		border-collapse: collapse;
			}
			th, td {
			  padding: 5px;
			  text-align: left;
			}
			tr:nth-child(even) {
			  background-color: #eee;
			}
			tr:nth-child(odd) {
			 background-color: #fff;
			}
			table#accounts_table th {
			  background-color: black;
			  color: white;
			}
		</style>
		<table id="accounts_table" style="width:40%">
			<tr>
				<th>Account Name</th>
				<th>Networth</th>
			</tr>
			{% for account in accounts %}
				<tr>
					<td>
						<a href="{{ url_for('main.account', account_id=account.account_id) }}">{% if account.institution %}{{ account.institution }} - {% endif %}{{ account.account_name }}</a></td>
					<td>USD {{ account.account_networth }}</td>
				</tr>
			{% endfor %}
		</table><br>
		{% if transactions|length > 0 %}
			{% include 'main/_transaction.html' %}
		{% endif %}
	{% endif %}
{% endblock %}