{% extends "base.html" %}

{% block content %}
    <h1>Add Account</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.institution.label }}<br>
            {{ form.institution(size=32) }}<br>
            {% for error in form.institution.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.account_name.label }}<br>
            {{ form.account_name(size=32) }}<br>
            {% for error in form.account_name.errors %}
            <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}