{% extends "base.html" %}

{% block content %}
	<h1>Hi, {{ user.first_name }}!</h1>
	<p><b>Profile Networth: </b>USD {{ user.networth }}</p>
	<div>
		<a href="{{ url_for('main.add_account') }}">Add Account</a>
		<a href="{{ url_for('main.delete_user') }}">Delete Profile</a>
	</div><br>
	{% if accounts != [] %}
		<style>
			table, th, td {
		  		border: 1px solid black;
		  		border-collapse: collapse;
			}
		</style>
		<table style="width:50%">
			<tr>
				<th>Account Name</th>
				<th>Networth</th>
				<th>Institution</th>
			{% for account in accounts %}
				<tr>
					<td><a href="{{ url_for('main.account', account_id=account.account_id) }}">{{ account.account_name }}</a></td>
					<td>USD {{ account.account_networth }}</td>
					<td>{{ account.institution }}</td>
				</tr>
			{% endfor %}
	{% endif %}
{% endblock %}